@model wn_web.Models.Reclaimation.ReviewSite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReviewSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.County.CountyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County.CountyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FMAHolder.FMAHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FMAHolder.FMAHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturalRegion.NaturalRegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturalRegion.NaturalRegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaturalSubRegion.NaturalSubRegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaturalSubRegion.NaturalSubRegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingArea.OperatingAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingArea.OperatingAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvincialArea.ProvincialAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvincialArea.ProvincialAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvincialAreaType.ProvincialAreaTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvincialAreaType.ProvincialAreaTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeedZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeedZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WellboreID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WellboreID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UWI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UWI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WellsiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WellsiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UTMZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UTMZone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewSiteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
